{% extends "base.html" %}
{% block content %}
<main class="posts">
	{% block content_title %}
	<h2>Posts</h2>
	{% endblock %}

	<ul class="listing">
	{% for article in articles_page.object_list %}
		<li>
				<abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
				<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
		</li>
	{% endfor %}
	</ul><!-- /#posts-list -->
	{% include 'pagination.html' %}
	
	<p>Also browse by <a href="{{ SITEURL }}/categories.html">Categories</a> or <a href="{{ SITEURL}}/tags.html">Tags</a></p>
</main><!-- /#content -->
{% endblock content %}
